<div class="container">
  <div class="row col-md-12 col-md-offset-2 col-xs-12">
    <div ng-if="userCtrl.isValid()">
      <dl class="dl-horizontal">
        <dt>Name:</dt> <dd>{{userCtrl.user.fname}}  {{ userCtrl.user.lname}}</dd>
        <dt>email:</dt> <dd>{{userCtrl.user.email}}</dd>
        <dt>Tel:</dt> <dd>{{userCtrl.user.tel}}</dd>
        <dt>Favourite Dish:</dt>
          <menu-item menu-item="userCtrl.user.favData"></menu-item>
      </dl>
    </div>
  </div>

  <div class="row col-md-6 col-md-offset-3 col-xs-12">
    <div  ng-if="!userCtrl.isValid()">
            <h1 id="signup-h">Not Signed Up Yet</h1>
            <button
            id="signup-btn"
            ui-sref="public.signup">
            Sign up Now!</button>
    </div>
  </div>
</div>
